ul
{
    list-style-type: none;
}
 .movie-card  a
 {
      color: black;
 }
 .movie-card  a:hover
 {
     padding-bottom: 20px;
      border-bottom: 1px solid black;
 }

 h1, h3 {
    text-align: center;
  }
  body {
    font-family: 'Oswald', sans-serif;
    color: black;
  }